.menu {
    font-family: var(--font-winston);
    font-size: 14px;
    font-weight: normal;
}

.menu__list {
    margin: 0;
    padding: 0;
}

.header__menu-list.menu__list {
    display: flex;
    @include mobile-block {
        margin-top: 45px;
        flex-direction: column;
        align-items: flex-start;
    }
}

.menu__item {
    position: relative;
    list-style: none;
}

.header__menu-item.menu__item ~ .header__menu-item.menu__item {
    margin-left: 25px;
    @include mobile-block {
        margin-left: 0;
    }
}

.header__menu-item.is-active .menu__link {
    color: var(--color-gray);
    @include mobile(color, var(--color-accent));
}

.menu__link {
    color: var(--color-dark);
    text-decoration: none;
    transition: color ease-in-out .150s;
}

.header__menu-item .menu__link {
    @include mobile(color, var(--color-white));
}

.header__menu-item .menu__link:hover {
    color: var(--color-gray);
    @include mobile(color, var(--color-accent));
}

.footer__menu-item.menu__item ~ .footer__menu-item.menu__item {
    margin-top: 15px;
}

.footer__menu-list.menu__list .menu__link {
    color: var(--color-white);
    text-decoration: none;
    transition: color ease-in-out .150s;
}

.footer__menu-item.is-active .menu__link {
    color: var(--color-accent);
    @include mobile(color, var(--color-gray));
}

.footer__menu-item .menu__link:hover {
    color: var(--color-accent);
    @include mobile(color, var(--color-gray));
}