{% set title = "Главная" %}
{% set pageDescr = "Защита вашей интеллектуальной собственности в судах, палате по патентным спорам, СИП. Регистрация товарных знаков в России и за рубежом. Патентование изобретений, полезных моделей и промышленных образцов. Регистрация программ ЭВМ и IP. Работа экспертов со сложными случаями и высокой гарантией успеха." %}

{% extends "layouts/_default.html" %}

{% block content %}

    {% include "template/_info-block.html" %}
    {% include "template/_advantages.html" %}
    {% include "template/_popular-services.html" %}
    <!-- Features -->
    <section class="features block-padding bg--hight-white">
        <div class="features__body container">
            <div class="features__inner">
                <div class="feature__info-list">
                    <h2 class="features__heading title title--large title--dark title--w-semibold title--uppercase title--indent">
                        Преимущества работы с нами
                    </h2>
                    <div class="features__items">
                        <div class="features__item">
                            <h3 class="features__title text text--large text--dark text--w-regular">
                                <span class="features__icon-check">
                                    <svg class="features__svg-icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3 12.6923L7.50119 16.2933C7.97049 16.6687 8.66257 16.5483 8.97755 16.0365L17 3" stroke="#B8996A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                                Опыт работы со сложными случаями
                            </h3>
                            <p class="features__item-descr text text--normal text--light-dark text--w-light">
                                Эксперты компании, благодаря высокой квалификации и большому опыту работы решают юридические споры на всех уровнях и во всех инстанциях с высокой гарантией успеха. Мы готовы выполнить даже самые невыполнимые задачи!
                            </p>
                        </div>
                        <div class="features__item">
                            <h3 class="features__title text text--large text--dark text--w-regular">
                                <span class="features__icon-check">
                                    <svg class="features__svg-icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.36267 3.23071H5.60443C5.13812 3.23071 4.6909 3.42522 4.36117 3.77144C4.03143 4.11766 3.84619 4.58724 3.84619 5.07687V16.1538C3.84619 16.6434 4.03143 17.113 4.36117 17.4592C4.6909 17.8054 5.13812 17.9999 5.60443 17.9999H14.3956C14.862 17.9999 15.3092 17.8054 15.6389 17.4592C15.9686 17.113 16.1539 16.6434 16.1539 16.1538V5.07687C16.1539 4.58724 15.9686 4.11766 15.6389 3.77144C15.3092 3.42522 14.862 3.23071 14.3956 3.23071H12.6374" stroke="#B8996A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M10.8206 2H9.17954C8.27323 2 7.53851 2.55103 7.53851 3.23077C7.53851 3.9105 8.27323 4.46154 9.17954 4.46154H10.8206C11.7269 4.46154 12.4616 3.9105 12.4616 3.23077C12.4616 2.55103 11.7269 2 10.8206 2Z" stroke="#B8996A" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M7.53851 11.2309L9.17954 13.0771L12.4616 9.38477" stroke="#B8996A" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                                Режим одного окна
                            </h3>
                            <p class="features__item-descr text text--normal text--light-dark text--w-light">
                                Все контакты происходят через одного специалиста, который поможет решить текущие вопросы, включая юридические аспекты или нюансы, связанные с изменениями в дизайне товарного знака. Вам больше не нужно тратить время на поиск ответственного за выполнение задачи.
                            </p>
                        </div>
                        <div class="features__item">
                            <h3 class="features__title text text--large text--dark text--w-regular">
                                <span class="features__icon-check">
                                    <svg class="features__svg-icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.50001 16.2288C8.43301 16.2288 10 14.6618 10 12.7288C10 10.7958 8.43301 9.22876 6.50001 9.22876C4.56701 9.22876 3 10.7958 3 12.7288C3 14.6618 4.56701 16.2288 6.50001 16.2288Z" stroke="#B8996A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M8.99374 10.2353L16.125 3.10401" stroke="#B8996A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M15.2499 3.97876L16.9999 5.72876" stroke="#B8996A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M12.6249 6.60376L14.3749 8.35376" stroke="#B8996A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                                Регистрация “под ключ”
                            </h3>
                            <p class="features__item-descr text text--normal text--light-dark text--w-light">
                                Проводится полный объем работы по регистрации товарного знака – от предварительной экспресс-оценки до получения свидетельства.
                            </p>
                        </div>
                        <div class="features__item">
                            <h3 class="features__title text text--large text--dark text--w-regular">
                                <span class="features__icon-check">
                                    <svg class="features__svg-icon" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10 2.625C11.7544 4.43325 14.0441 5.37475 16.3841 5.25C16.7248 6.60014 16.829 8.01628 16.6907 9.41428C16.5523 10.8123 16.1741 12.1636 15.5785 13.388C14.983 14.6123 14.1823 15.6847 13.2239 16.5414C12.2656 17.3981 11.1693 18.0217 10 18.375C8.83074 18.0217 7.73437 17.3981 6.77605 16.5414C5.81773 15.6847 5.01701 14.6123 4.42148 13.388C3.82594 12.1636 3.44774 10.8123 3.30935 9.41428C3.17095 8.01628 3.2752 6.60014 3.61588 5.25C5.95587 5.37475 8.24562 4.43325 10 2.625" stroke="#B8996A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M9.99992 11.4641C11.065 11.4641 11.9285 10.6006 11.9285 9.53551C11.9285 8.47038 11.065 7.60693 9.99992 7.60693C8.9348 7.60693 8.07135 8.47038 8.07135 9.53551C8.07135 10.6006 8.9348 11.4641 9.99992 11.4641Z" stroke="#B8996A" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M10 11.4644V14.3572" stroke="#B8996A" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                                Работаем во всех регионах России
                            </h3>
                            <p class="features__item-descr text text--normal text--light-dark text--w-light">
                                Все услуги оказываем дистанционно. При необходимости и по желанию заказчика готовы к встрече.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="features__steps">
                    <h2 class="features__heading title title--large title--dark title--w-semibold title--uppercase title--indent">
                        Этапы работы
                    </h2>
                    <ol class="features__steps-list">
                        <li class="features__name-step text text--large text--dark text--w-regular">
                            Консультация
                        </li>
                        <li class="features__name-step text text--large text--dark text--w-regular">
                            Разработка стратегии 
                        </li>
                        <li class="features__name-step text text--large text--dark text--w-regular">
                            Заключение договора
                        </li>
                        <li class="features__name-step text text--large text--dark text--w-regular">
                            Исполнение договора до конечного результата
                        </li>
                    </ol>
                    <p class="features__descr-steps text text--normal text--light-dark text--w-light">
                        Индивидуальный подход к каждому заказчику позволяет нам быть уверенными в результате совместной работы. Любой проект начинается с выявления целей и задач, после чего специалисты Patent Trademark group приступают к разработке стратегии. О каждом шаге и новом обстоятельстве обязательно информируем клиента и работаем до тех пор, пока общая цель не будет достигнута.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- /.Features -->
    {% include "template/_form-page.html" %}

{% endblock %}