{% set title = "Новости" %}

{% extends "layouts/_default.html" %}

{% block content %}

    <!-- News-list -->
    <section class="news-list">
        <div class="news-list__body container">
            <div class="news-list__items">
                <article class="news-list__item news-list__item--wide">
                    <aside class="news-list__aside">
                        <div class="news-list__pic">
                            <img src="https://picsum.photos/800" alt="" class="news-list__thumb">
                        </div>
                    </aside>
                    <div class="news-list__inner">
                        <header class="news-list__header">
                            <h2 class="news-list__title title title--large title--dark title--w-semibold title--uppercase">
                                <a href="#" class="news-list__link">
                                    Внезапно, чистосердечное признание облегчает душу
                                </a> 
                            </h2>
                        </header>
                        <footer class="news-list__footer">
                            <p class="news-list__excerpt text text--normal text--light-dark text--w-light">
                                В целом, конечно, повышение уровня гражданского сознания не оставляет шанса для экономической целесообразности принимаемых решений. В своём стремлении улучшить пользовательский опыт мы упускаем, что стремящиеся...
                            </p>
                        </footer>
                    </div>
                </article>
                <article class="news-list__item">
                    <aside class="news-list__aside">
                        <div class="news-list__pic">
                            <img src="https://picsum.photos/300" alt="" class="news-list__thumb">
                        </div>
                    </aside>
                    <div class="news-list__inner">
                        <header class="news-list__header">
                            <div class="news-list__meta text text--normal text--gray text--w-light">
                                <span class="news-list__date">
                                    2 мая 2022
                                </span>
                                <span class="news-list__views">
                                    17384 просмотра
                                </span>
                            </div>
                            <h2 class="news-list__title title title--large title--dark title--w-semibold title--uppercase">
                                <a href="#" class="news-list__link">
                                    Британские ученые заявили, что небо темнеет
                                </a>
                            </h2>
                        </header>
                        <footer class="news-list__footer">
                            <p class="news-list__excerpt text text--normal text--light-dark text--w-light">
                                С другой стороны, разбавленное изрядной долей эмпатии, рациональное мышление способствует подготовке и реализации приоритизации разума над эмоциями...
                            </p>
                        </footer>
                    </div>
                </article>
                <article class="news-list__item">
                    <aside class="news-list__aside">
                        <div class="news-list__pic">
                            <img src="https://picsum.photos/350" alt="" class="news-list__thumb">
                        </div>
                    </aside>
                    <div class="news-list__inner">
                        <header class="news-list__header">
                            <div class="news-list__meta text text--normal text--gray text--w-light">
                                <span class="news-list__date">
                                    26 июня 2020
                                </span>
                                <span class="news-list__views">
                                    12567 просмотра
                                </span>
                            </div>
                            <h2 class="news-list__title title title--large title--dark title--w-semibold title--uppercase">
                                <a href="#" class="news-list__link">
                                    Смешно, но герцог графства коронован
                                </a> 
                            </h2>
                        </header>
                        <footer class="news-list__footer">
                            <p class="news-list__excerpt text text--normal text--light-dark text--w-light">
                                С другой стороны, синтетическое тестирование предоставляет широкие возможности для переосмысления внешнеэкономических политик. Повседневная практика показывает, что выбранный нами инновационный путь...
                            </p>
                        </footer>
                    </div>
                </article>
                <article class="news-list__item">
                    <aside class="news-list__aside">
                        <div class="news-list__pic">
                            <img src="https://picsum.photos/500" alt="" class="news-list__thumb">
                        </div>
                    </aside>
                    <div class="news-list__inner">
                        <header class="news-list__header">
                            <div class="news-list__meta text text--normal text--gray text--w-light">
                                <span class="news-list__date">
                                    15 декабря 2019
                                </span>
                                <span class="news-list__views">
                                    9345 просмотра
                                </span>
                            </div>
                            <h2 class="news-list__title title title--large title--dark title--w-semibold title--uppercase">
                                <a href="#" class="news-list__link">
                                    Внезапно, жизнь прекрасна
                                </a> 
                            </h2>
                        </header>
                        <footer class="news-list__footer">
                            <p class="news-list__excerpt text text--normal text--light-dark text--w-light">
                                Вот вам яркий пример современных тенденций - базовый вектор развития говорит о возможностях экспериментов, поражающих по своей масштабности и грандиозности...
                            </p>
                        </footer>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <!-- /. News-list -->
    {% include "template/_main-form.html" %}

{% endblock %}