{% set title = "Контентная страница" %}
{% set pageDescr = "Политика в отношении обработки персональных данных." %}

{% extends "layouts/_default.html" %}

{% block content %}

    {% include "template/_info-block.html" %}
    <!-- Page-content -->
    <section class="page-content block-padding">
        <div class="page-content__body container">
            <div class="page-content__wysiwyg wysiwyg">
                <h3>
                    Заголовок
                </h3>
                <p>
                    Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Коварный, продолжил! До жаренные буквенных, текст последний домах свое запятых семантика, одна прямо напоивший снова над но моей пор вопрос всеми скатился родного курсивных вершину возвращайся. От всех, буквенных парадигматическая большого букв она заманивший текстами вдали свой точках семантика своих власти безорфографичный! Буквоград раз гор океана это использовало реторический но своего безопасную которое. Снова вершину там напоивший безопасную которой страну ведущими свой. Грустный пор залетают продолжил коварный, рыбного, журчит обеспечивает вершину которое пустился текст свой проектах агентство вопроса родного оксмокс его взгляд путь бросил образ. Заглавных, языкового точках! Несколько, заголовок пустился.
                </p>
            </div>
        </div>
    </section>
    <!-- /. Page-content -->
    {% include "template/_form-page.html" %}

{% endblock %}