{% set title = "Регистрация товарных знаков" %}
{% set pageDescr = "Регистрация товарного знака (ТЗ) - официальная государственная процедура, которая дает каждому предпринимателю исключительное право на интеллектуальную собственность. Свидетельство выдается на 10 лет с правом продления.
<br>
<br>
Товарный знак как нематериальный актив можно продать, сдать в аренду, получить под него кредит в банке. Зарегистрированный ТЗ дает право презентовать себя на крупных торговых площадках, участвовать в тендерах и госзакупках, продавать свой продукт в федеральных сетях, а также масштабировать свой бизнес, создавая франшизу." %}

{% extends "layouts/_default.html" %}

{% block content %}

    {% include "template/_info-block.html" %}
    {% include "template/_text-block.html" %}
    <!-- Steps -->
    <section class="steps block-padding">
        <div class="steps__body container">
            <h2 class="steps__heading title title--large title--dark title--w-semibold title--uppercase title--indent">
                Три шага к регистрации товарного знака
            </h2>
            <div class="steps__inner">
                <div class="steps__left-column">
                    <div class="steps__item">
                        <div class="steps__header">
                            <span class="steps__num text text--pre-big text--accent-color text--w-semibold">
                                01
                            </span>
                            <span class="steps__days text text--normal text--gray text--w-light">
                                4-5 дней
                            </span>
                        </div>
                        <h4 class="steps__title text text--normal text--dark text--w-medium">
                            Предварительная экспертиза товарного знака
                        </h4>
                    </div>
                    <div class="steps__item">
                        <div class="steps__header">
                            <span class="steps__num text text--pre-big text--accent-color text--w-semibold">
                                02
                            </span>
                            <span class="steps__days text text--normal text--gray text--w-light">
                                12-14 дней
                            </span>
                        </div>
                        <h4 class="steps__title text text--normal text--dark text--w-medium">
                            Взаимодействие с регистрирующим органом (Роспатентом)
                        </h4>
                    </div>
                    <div class="steps__item">
                        <div class="steps__header">
                            <span class="steps__num text text--pre-big text--accent-color text--w-semibold">
                                03
                            </span>
                            <span class="steps__days text text--normal text--gray text--w-light">
                                7-8 месяцев
                            </span>
                        </div>
                        <h4 class="steps__title text text--normal text--dark text--w-medium">
                            Получение свидетельства
                        </h4>
                    </div>
                </div>
                <div class="steps__right-column">
                    <div class="steps__content wysiwyg">
                        <p>
                            Важно помнить, что риск потерять деньги и время возникает еще до первого этапа, когда вы только задумались о создании товарного знака. Поэтому если у вас еще его нет, то самое время обратиться к нам. 
                            <br>
                            Дизайнеры и неймеры компании Patent Trademark group при разработке учитывают не только ваши пожелания, но и консультируются с юристами и патентными поверенными, что сводит риски отказа в регистрации к нулю. Если же у вас есть готовый товарный знак, но первичный аудит показывает, что он НЕ патентопригодный, наши специалисты помогут доработать его, сохранив основную идею.
                        </p>
                        <p>
                            Регистрация товарных знаков предусматривает необходимость заявителя взаимодействовать с Роспатентом после подачи заявки. Эксперты ФИПС зачастую направляют предварительные уведомления, которые требуют отработки и ответов в установленные сроки, в противном случае будет получен отказ в регистрации. Специалисты Patent Trademark group берут всю работу на себя, включая подготовку обоснования необходимости регистрации.
                        </p>
                        <p>
                            <b>Помните, ваш зарегистрированный товарный знак имеет значение!</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /. Steps -->
    {% include "template/_plunk.html" %}
    {% include "template/_faq.html" %}
    {% include "template/_popular-services.html" %}
    {% include "template/_form-page.html" %}

{% endblock %}