{% set title = "Эксперты" %}

{% extends "layouts/_default.html" %}

{% block content %}

    {% include "template/_info-block.html" %}
    <!-- Experts -->
    <section class="experts block-padding">
        <div class="experts__body container">
            <p class="experts__descr text text--normal text--light-dark text--w-light">
                Мы помогаем нашим доверителям в патентовании изобретений, полезных моделей и промышленных образцов. Регистрируем товарные знаки в России и других странах. Отстаиваем интересы доверителей в спорах по интеллектуальной собственности в Палате по патентным спорам, судах и госорганах, а также помогаем решить спор без суда, когда это возможно.
            </p>
            <div class="experts__items">
                <article class="experts__item">
                    <div class="experts__photo">
                        <img src="img/experts/experts-img-1.jpg" alt="" class="experts__img">
                    </div>
                    <div class="experts__inner">
                        <h3 class="experts__name text text--normal text--dark text--w-medium">
                            Павел Береснев
                        </h3>
                        <p class="experts__info text text--normal text--light-dark text--w-light">
                            Патентный проверенный РФ № 2251, юрист, дипломированный оценщик интеллектуальной собственности, судебный эксперт.
                            <br>
                            <br>
                            Окончил Пензенский Государственный Университет по специальности юрист; направление: гражданское право и гражданский процесс. Общий стаж работу 18 лет, из них 9 лет занимается в области интеллектуальной собственности (товарные знаки, авторские права, патенты).
                        </p>
                    </div>
                </article>
                <article class="experts__item">
                    <div class="experts__photo">
                        <img src="img/experts/experts-img-2.jpg" alt="" class="experts__img">
                    </div>
                    <div class="experts__inner">
                        <h3 class="experts__name text text--normal text--dark text--w-medium">
                            Оксана Береснева
                        </h3>
                        <p class="experts__info text text--normal text--light-dark text--w-light">
                            Патентный поверенный РФ № 1493, эксперт Роспатента высшей категории, аналитик в области интеллектуальных прав.
                            <br>
                            <br>
                            Окончила Российскую Государственную Академию Интеллектуальной собственности, прошла обучение по курсу «Правовая охрана и защита кинематографических произведений» в Российской государственной академии интеллектуальной собственности.  Общий стаж работы в сфере интеллектуальной собственности более 24 лет.
                        </p>
                    </div>
                </article>
                <article class="experts__item">
                    <div class="experts__photo">
                        <img src="img/experts/experts-img-3.jpg" alt="" class="experts__img">
                    </div>
                    <div class="experts__inner">
                        <h3 class="experts__name text text--normal text--dark text--w-medium">
                            Антон Ищенко
                        </h3>
                        <p class="experts__info text text--normal text--light-dark text--w-light">
                            Партнер, руководитель практики  регулирования в сфере IP.
                            <br>
                            <br>
                            Кандидат экономических наук, Председатель Центрального совета Всероссийского общества изобретателей и рационализаторов (ВОИР), член коллегии Федеральной службы по интеллектуальной собственности (Роспатент), член Совета по вопросам интеллектуальной собственности при Председателе Совета Федерации ФС РФ, член научно-технического совета Федерального института промышленной собственности (ФИПС), член экспертной группы «Интеллектуальная собственность» по экспертному сопровождению разработки и реализации плана мероприятий («дорожной карты») «Трансформация делового климата», автор и соавтор более 60 федеральных законопроектов, общественный уполномоченный по вопросам изобретательства и интеллектуальной собственности в городе Москве.
                        </p>
                    </div>
                </article>
                <article class="experts__item">
                    <div class="experts__photo">
                        <img src="img/experts/experts-img-4.jpg" alt="" class="experts__img">
                    </div>
                    <div class="experts__inner">
                        <h3 class="experts__name text text--normal text--dark text--w-medium">
                            Владислав Миронов
                        </h3>
                        <p class="experts__info text text--normal text--light-dark text--w-light">
                            Партнер, руководитель практики  регулирования в сфере IP.
                            <br>
                            <br>
                            Кандидат юридических наук, доцент кафедры финансового, банковского и таможенного права СГЮА, стаж работы в консалтинге более 15 лет, реализация успешных проектов в сфере защиты интересов налогоплательщиков в рамках налоговых споров, разработка стратегий налогового планирования, в том числе с участием иностранных инвесторов и нерезидентов.
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <!-- /. Experts -->
    {% include "template/_popular-services.html" %}
    {% include "template/_form-page.html" %}

{% endblock %}