{% set title = "Представление интересов в суде, палате по патентным спорам, СИП" %}
{% set pageDescr = "Важно не только зарегистрировать монопольное право на использование результатов интеллектуальной деятельности, но и уметь отстоять свои интересы во всех инстанциях." %}

{% extends "layouts/_default.html" %}

{% block content %}

    {% include "template/_info-block.html" %}
    {% include "template/_text-block.html" %}
    {% include "template/_faq.html" %}
    {% include "template/_popular-services.html" %}
    {% include "template/_form-page.html" %}

{% endblock %}