{% set title = "Регистрация программ ЭВМ и IP" %}
{% set pageDescr = "Программы для ЭВМ и базы данных регистрируются в Роспатенте, в результате выдается свидетельство о государственной регистрации. Роспатент принимает на депонирование исходные коды программы (листинг, декомпиляция) и ее краткое описание." %}

{% extends "layouts/_default.html" %}

{% block content %}

    {% include "template/_info-block.html" %}
    {% include "template/_text-block.html" %}
    {% include "template/_faq.html" %}
    {% include "template/_popular-services.html" %}
    {% include "template/_form-page.html" %}

{% endblock %}