{% set title = "Регистрация товарных знаков" %}
{% set pageDescr = "Регистрация товарного знака (ТЗ) - официальная государственная процедура, которая дает каждому предпринимателю исключительное право на интеллектуальную собственность. Свидетельство выдается на 10 лет с правом продления.
<br>
<br>
Товарный знак как нематериальный актив можно продать, сдать в аренду, получить под него кредит в банке. Зарегистрированный ТЗ дает право презентовать себя на крупных торговых площадках, участвовать в тендерах и госзакупках, продавать свой продукт в федеральных сетях, а также масштабировать свой бизнес, создавая франшизу." %}

{% extends "layouts/_default.html" %}

{% block content %}

    {% include "template/_info-block.html" %}
    {% include "template/_text-block.html" %}
    {% include "template/_banner.html" %}
    {% include "template/_faq.html" %}
    {% include "template/_popular-services.html" %}
    {% include "template/_form-page.html" %}

{% endblock %}