{% set title = "Детальная новость" %}

{% extends "layouts/_default.html" %}

{% block content %}
    <!-- News -->
    <section class="news">
        <div class="news__body container">
            <article class="news__article">
                <header class="news__header">
                    <div class="news__pic">
                        <img src="https://picsum.photos/800" alt="" class="news__img">
                    </div>
                    <h1 class="news__title title title--large title--dark title--w-semibold title--uppercase title--indent">
                        Какое-то название новости
                    </h1>
                </header>
                <div class="news__content wysiwyg">
                    <p>
                        Таким образом, постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение распределения внутренних резервов и ресурсов. Также как укрепление и развитие внутренней структуры, в своём классическом представлении, допускает внедрение первоочередных требований. Повседневная практика показывает, что высокотехнологичная концепция общественного уклада не даёт нам иного выбора, кроме определения новых предложений. Кстати,  диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть описаны максимально подробно. Кстати,  диаграммы связей набирают популярность среди определенных слоев населения, а значит, должны быть призваны к ответу. Не следует, однако, забывать, что внедрение современных методик предполагает независимые способы реализации позиций, занимаемых участниками в отношении.
                    </p>
                    <h3>
                        Какой то заголовок
                    </h3>
                    <p>
                        Свидетельство (патент) на программу гарантирует ее дополнительную юридическую охрану. Зарегистрированный же код программы для ЭВМ в Роспатенте служит доказательством его принадлежности конкретному создателю (автору). Свидетельство о государственной регистрации компьютерной программы будет являться доказательством в случае возникновения спора: при выявлении плагиата и контрафакта.
                    </p>
                    <p>
                        Документы, необходимые для государственной регистрации программного обеспечения и базы данных в ФИПС:
                    </p>
                    <ol>
                        <li>заявление о государственной регистрации программы для ЭВМ или базы данных, которое заполняется на лицевой и оборотной стороне;</li>
                        <li>дополнение к заявлению на государственную регистрацию программы для ЭВМ или базы данных – также две стороны;</li>
                        <li>согласие на обработку персональных данных;</li>
                        <li>согласие на указание сведений об авторе;</li>
                        <li>ходатайство о предоставлении льготы по уплате государственной пошлины;</li>
                        <li>код ПО – целиком или только часть;</li>
                        <li>квитанция об оплате госпошлины.</li>
                    </ol>
                    <p>
                        Каждый из нас понимает очевидную вещь: <a href="#">консультация с широким активом</a> предполагает независимые способы реализации позиций, занимаемых участниками в отношении поставленных задач. В частности, высокотехнологичная концепция общественного уклада обеспечивает актуальность модели развития. В целом, конечно, современная методология разработки не оставляет шанса для новых предложений. Ясность нашей позиции очевидна: консультация с широким активом является качественно новой ступенью стандартных подходов. Задача организации, в особенности же высококачественный прототип будущего проекта создаёт предпосылки для глубокомысленных рассуждений. Мы вынуждены отталкиваться от того, что социально-экономическое развитие, а также свежий взгляд на привычные вещи — безусловно открывает новые горизонты для форм воздействия. Не следует, однако, забывать, что.
                    </p>
                    <ul>
                        <li>Доверь нам даже самый сложный случай</li>
                        <li>Будь уверен в защите своих интересов во всех инстанциях</li>
                        <li>Сохрани права на интеллектуальную собственность</li>
                    </ul>
                    <p>
                        И нет сомнений, что диаграммы связей разоблачены. А ещё сделанные на базе интернет-аналитики выводы, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут функционально разнесены на независимые элементы. Безусловно, постоянный количественный рост и сфера нашей активности однозначно определяет каждого участника как способного принимать собственные решения касаемо своевременного выполнения сверхзадачи. Имеется спорная точка зрения, гласящая примерно следующее: предприниматели в сети интернет, превозмогая сложившуюся непростую экономическую ситуацию, представлены в исключительно положительном свете. Являясь всего лишь частью общей картины, независимые государства и по сей день остаются уделом либералов, которые жаждут быть своевременно верифицированы. Но реализация намеченных плановых заданий.
                    </p>
                </div>
                <footer class="news__footer">
                    <div class="news__action">
                        <a href="javascript:;" class="news__button button button--primary-icon" onclick="history.go(-1); return false;">
                            <span class="button__icon button__icon--left">
                                <svg class="button__icon-svg" width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 1L1.70711 5.29289C1.31658 5.68342 1.31658 6.31658 1.70711 6.70711L6 11" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </span> 
                            К списку новостей
                        </a>
                    </div>
                </footer>
            </article>
        </div>
    </section>
    <!-- /. News -->

    {% include "template/_form-page.html" %}

{% endblock %}