/* Containers */

.container {
	@include wrapper();
}

.container-full {
	@include wrapper-full();
}

/* Hide */

.hide {
    display: none !important;
}

.hide-tablet {
	@include tablet(display, none !important);
}

.hide-mobile {
	@include mobile(display, none !important);
}

/* Position */

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* Background */

.bg {
    &--hight-white {
        background-color: var(--color-hight-white);
    }
    &--white {
        background-color: var(--color-white);
    }
    &--color-accent-gradient {
        background-color: var(--color-accent-gradient);
    }
}

/* Links */

.link {
    color: var(--color-light-dark);
    text-decoration: none;
    transition: ease .3s;
}

.link:hover {
    color: var(--color-accent);
}

/* Title */

.title {
    font-family: var(--font-elmessiri);
    font-style: normal;
    margin: 0;
    &--big {
        font-size: responsive 30px 45px;
        font-range: 360px 1200px;
    }
    &--large {
        font-size: responsive 20px 25px;
        font-range: 360px 1200px;
    }
    &--white {
        color: var(--color-white);
	}
    &--dark {
		color: var(--color-dark); 
	}
    &--w-medium {
		font-weight: 500;
	}
	&--w-semibold {
		font-weight: 600;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}

.title--indent {
    margin: 0 0 45px;
    @include tablet(margin, 0 0 25px);
}

/* Text */

.text {
    font-family: var(--font-winston);
    font-style: normal;
    margin: 0;
	&--light-dark {
		color: var(--color-light-dark); 
	}
	&--dark {
		color: var(--color-dark);
	}
	&--gray {
		color: var(--color-gray);
	}
	&--white {
		color: var(--color-white);
	}
	&--big {
        font-size: responsive 20px 30px;
        font-range: 320px 1200px;
	}
	&--large {
        font-size: responsive 16px 18px;
        font-range: 320px 1200px;
	}
	&--normal {
        font-size: 16px;
	}
	&--small {
		font-size: 14px;
	}
	&--tiny {
		font-size: 12px;
	}
	&--w-light {
		font-weight: 300;
	}
	&--w-regular {
		font-weight: normal;
	}
	&--w-medium {
		font-weight: 500;
	}
	&--w-semibold {
		font-weight: 600;
    }
    &--uppercase {
		text-transform: uppercase;
	}
}