/* Containers */

.container {
	@include wrapper();
}

.container-full {
	@include wrapper-full();
}

/* Hide */

.hide {
    display: none !important;
}

.hide-tablet {
	@include tablet(display, none !important);
}

.hide-mobile {
	@include mobile(display, none !important);
}

/* Position */

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* Background */

.bg {
    &--hight-white {
        background-color: var(--color-hight-white);
    }
    &--white {
        background-color: var(--color-white);
    }
    &--accent-gradient {
        background: var(--color-accent-gradient);
    }
}

/* Block padding */

.block-padding {
    padding: 95px 0;
    @include mobile(padding, 50px 0);
}

/* Links */

.link {
    position: relative;
    display: inline-block;
    color: var(--color-light-dark);
    text-decoration: none;
    transition: ease .3s;
}

.link::after {
    content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE3IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDMuNUMwLjcyMzg1OCAzLjUgMC41IDMuNzIzODYgMC41IDRDMC41IDQuMjc2MTQgMC43MjM4NTggNC41IDEgNC41VjMuNVpNMTYuMzUzNiA0LjM1MzU1QzE2LjU0ODggNC4xNTgyOSAxNi41NDg4IDMuODQxNzEgMTYuMzUzNiAzLjY0NjQ1TDEzLjE3MTYgMC40NjQ0NjZDMTIuOTc2MyAwLjI2OTIwNCAxMi42NTk3IDAuMjY5MjA0IDEyLjQ2NDUgMC40NjQ0NjZDMTIuMjY5MiAwLjY1OTcyOCAxMi4yNjkyIDAuOTc2MzExIDEyLjQ2NDUgMS4xNzE1N0wxNS4yOTI5IDRMMTIuNDY0NSA2LjgyODQzQzEyLjI2OTIgNy4wMjM2OSAxMi4yNjkyIDcuMzQwMjcgMTIuNDY0NSA3LjUzNTUzQzEyLjY1OTcgNy43MzA4IDEyLjk3NjMgNy43MzA4IDEzLjE3MTYgNy41MzU1M0wxNi4zNTM2IDQuMzUzNTVaTTEgNC41SDE2VjMuNUgxVjQuNVoiIGZpbGw9IiM2RDY4NjQiLz4KPC9zdmc+Cg==');
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-58%);
    transition: right .150s ease-in-out;
}

.link:hover {
    color: var(--color-accent);
}

.link:hover::after {
    right: -30px;
}

/* Title */

.title {
    font-family: var(--font-elmessiri);
    font-style: normal;
    margin: 0;
    &--big {
        font-size: responsive 30px 45px;
        font-range: 360px 1200px;
    }
    &--large {
        font-size: responsive 20px 25px;
        font-range: 360px 1200px;
    }
    &--white {
        color: var(--color-white);
	}
    &--dark {
		color: var(--color-dark); 
	}
    &--w-medium {
		font-weight: 500;
	}
	&--w-semibold {
		font-weight: 600;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}

.title--indent {
    margin: 0 0 45px;
    @include tablet(margin, 0 0 25px);
}

.title--indent-secondary {
    margin: 0 0 25px;
}

/* Text */

.text {
    font-family: var(--font-winston);
    font-style: normal;
    margin: 0;
	&--light-dark {
		color: var(--color-light-dark); 
	}
	&--dark {
		color: var(--color-dark);
	}
	&--gray {
		color: var(--color-gray);
	}
	&--white {
		color: var(--color-white);
	}
	&--big {
        font-size: responsive 20px 30px;
        font-range: 320px 1200px;
	}
	&--large {
        font-size: responsive 16px 18px;
        font-range: 320px 1200px;
	}
	&--normal {
        font-size: 16px;
	}
	&--small {
		font-size: 14px;
	}
	&--tiny {
		font-size: 12px;
	}
	&--w-light {
		font-weight: 300;
	}
	&--w-regular {
		font-weight: normal;
	}
	&--w-medium {
		font-weight: 500;
	}
	&--w-semibold {
		font-weight: 600;
    }
    &--uppercase {
		text-transform: uppercase;
	}
}