@font-face {
	font-family: 'El Messiri';
	src: url('../fonts/ElMessiri/ElMessiri-Medium.eot');
	src: url('../fonts/ElMessiri/ElMessiri-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ElMessiri/ElMessiri-Medium.woff2') format('woff2'),
	url('../fonts/ElMessiri/ElMessiri-Medium.woff') format('woff'),
	url('../fonts/ElMessiri/ElMessiri-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'El Messiri';
	src: url('../fonts/ElMessiri/ElMessiri-SemiBold.eot');
	src: url('../fonts/ElMessiri/ElMessiri-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ElMessiri/ElMessiri-SemiBold.woff2') format('woff2'),
	url('../fonts/ElMessiri/ElMessiri-SemiBold.woff') format('woff'),
	url('../fonts/ElMessiri/ElMessiri-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Winston';
	src: url('../fonts/Winston/Winston-Light.eot');
	src: url('../fonts/Winston/Winston-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Winston/Winston-Light.woff2') format('woff2'),
	url('../fonts/Winston/Winston-Light.woff') format('woff'),
	url('../fonts/Winston/Winston-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Winston';
	src: url('../fonts/Winston/Winston-Medium.eot');
	src: url('../fonts/Winston/Winston-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Winston/Winston-Medium.woff2') format('woff2'),
	url('../fonts/Winston/Winston-Medium.woff') format('woff'),
	url('../fonts/Winston/Winston-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Winston';
	src: url('../fonts/Winston/Winston-SemiBold.eot');
	src: url('../fonts/Winston/Winston-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Winston/Winston-SemiBold.woff2') format('woff2'),
	url('../fonts/Winston/Winston-SemiBold.woff') format('woff'),
	url('../fonts/Winston/Winston-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}