:root {
	--color-hight-white: #F5F4F4;
	--color-white: #FFFFFF;
	--color-dark: #2F2722;
	--color-light-dark: #6D6864;
	--color-gray: #CACACA;
	--color-accent: #B8996A;
	--color-low-accent: #CBAB7B;
	--color-accent-gradient: linear-gradient(0deg, #D1B180, #D1B180), linear-gradient(92.14deg, #D1B180 0%, #B8996A 100%);
	--color-low-accent-gradient: linear-gradient(92.14deg, #D1B180 0%, #CBAB7B 100%);
    --font-elmessiri: "El Messiri", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-winston: "Winston", "Helvetica Neue", Helvetica, Arial, sans-serif;
}