{% if title == "Регистрация товарных знаков" %}
<!-- Banner -->
<section class="banner">
    <div class="banner__body container">
        <div class="banner__inner">
            <div class="banner__text">
                <h2 class="banner__heading title title--big title--accent-color title--uppercase">
                    Скидка 25%
                </h2>
                <p class="banner__descr text text--normal text--light-dark  text--w-light">
                    на разработку патентнопригодного товарного знака!
                </p>
                <div class="banner__action">
                    <a href="javascript:;" class="banner__button button button--primary" data-modal="#modal-services">
                        Получить скидку
                    </a>
                    <span class="button__act-text text text--normal text--small text--gray text--w-light">
                        Акция действует при заказе услуги "регистрация ТЗ по ключ"
                    </span>
                </div>
            </div>
            <div class="banner__pic">
                <img src="img/banner/banner-img-1.png" alt="" class="banner__img">
            </div>
        </div>
    </div>
</section>
<!-- /. Banner -->
{% endif %}
{% if title == "Патентование" %}
<!-- Banner -->
<section class="banner">
    <div class="banner__body container">
        <div class="banner__inner">
            <div class="banner__text">
                <h2 class="banner__heading title title--big title--accent-color title--uppercase">
                    Скидка 10%
                </h2>
                <p class="banner__descr text text--normal text--light-dark  text--w-light">
                    при заказе услуг через сайт в период <br> с 1 июня по 31 августа
                </p>
                <div class="banner__action">
                    <a href="javascript:;" class="banner__button button button--primary" data-modal="#modal-services">
                        Получить скидку
                    </a>
                    <span class="button__act-text text text--normal text--small text--gray text--w-light">
                        Акция действует при заказе услуги "Патентование"
                    </span>
                </div>
            </div>
            <div class="banner__pic">
                <img src="img/banner/banner-img-2.svg" alt="" class="banner__img">
            </div>
        </div>
    </div>
</section>
<!-- /. Banner -->
{% endif %}
{% if title == "Защита авторских прав" %}
<!-- Banner -->
<section class="banner">
    <div class="banner__body container">
        <div class="banner__inner">
            <div class="banner__text">
                <h2 class="banner__heading title title--big title--accent-color title--uppercase">
                    Скидка 10%
                </h2>
                <p class="banner__descr text text--normal text--light-dark  text--w-light">
                    при заказе услуг через сайт в период <br> с 1 июня по 31 августа
                </p>
                <div class="banner__action">
                    <a href="javascript:;" class="banner__button button button--primary" data-modal="#modal-services">
                        Получить скидку
                    </a>
                    <span class="button__act-text text text--normal text--small text--gray text--w-light">
                        Акция действует при заказе услуги "защита АП"
                    </span>
                </div>
            </div>
            <div class="banner__pic">
                <img src="img/banner/banner-img-2.svg" alt="" class="banner__img">
            </div>
        </div>
    </div>
</section>
<!-- /. Banner -->
{% endif %}
{% if title == "Представление интересов в суде, палате по патентным спорам, СИП" %}
<!-- Banner -->
<section class="banner">
    <div class="banner__body container">
        <div class="banner__inner">
            <div class="banner__text">
                <h2 class="banner__heading title title--big title--accent-color title--uppercase">
                    Защити свой бизнес от конкурентов
                </h2>
                <div class="banner__descr wysiwyg">
                    <ul>
                        <li>Доверь нам даже самый сложный случай</li>
                        <li>Будь уверен в защите своих интересов во всех инстанциях</li>
                        <li>Сохрани права на интеллектуальную собственность</li>
                    </ul>
                </div>
                <div class="banner__action">
                    <a href="javascript:;" class="banner__button button button--primary" data-modal="#modal-services">
                        Получить консультацию юриста
                    </a>
                </div>
            </div>
            <div class="banner__pic">
                <img src="img/banner/banner-img-3.svg" alt="" class="banner__img">
            </div>
        </div>
    </div>
</section>
<!-- /. Banner -->
{% endif %}
{% if title == "Регистрация программ ЭВМ и IP" %}
<!-- Banner -->
<section class="banner">
    <div class="banner__body container">
        <div class="banner__inner">
            <div class="banner__text">
                <h2 class="banner__heading title title--big title--accent-color title--uppercase">
                    Скидка 10%
                </h2>
                <p class="banner__descr text text--normal text--light-dark  text--w-light">
                    при заказе услуг через сайт в период <br> с 1 июня по 31 августа
                </p>
                <div class="banner__action">
                    <a href="javascript:;" class="banner__button button button--primary" data-modal="#modal-services">
                        Получить скидку
                    </a>
                    <span class="button__act-text text text--normal text--small text--gray text--w-light">
                        Акция действует при заказе услуги "Регистрация ПО ЭВМ и IP"
                    </span>
                </div>
            </div>
            <div class="banner__pic">
                <img src="img/banner/banner-img-2.svg" alt="" class="banner__img">
            </div>
        </div>
    </div>
</section>
<!-- /. Banner -->
{% endif %}