<!-- FAQ -->
<section class="faq block-padding">
    <div class="faq__body container">
        <h2 class="faq__heading  title title--large title--dark title--w-medium title--indent">
            Часто задаваемые вопросы
        </h2>
        <div class="faq__accordion">
            {% if title == "Регистрация товарных знаков" %}
                <details class="faq__details">
                    <summary class="faq__summary">
                        <span class="faq__question text text--normal text--hight-dark text--w-light">Что может быть зарегистрировано в качестве товарного знака?</span>
                    </summary>
                    <div class="faq__answer text text--normal text--gray text--w-light">
                        Можно зарегистрировать любое обозначение, используемое предпринимателями для индивидуализации своих товаров и услуг. Это может быть слово, группа слов, изображение, объемный элемент, звук.
                    </div>
                </details>
                <details class="faq__details">
                    <summary class="faq__summary">
                        <span class="faq__question text text--normal text--hight-dark text--w-light">Кто может быть владельцем товарного знака?</span>
                    </summary>
                    <div class="faq__answer text text--normal text--gray text--w-light">
                        Заявка на регистрацию товарного знака может быть подана от имени индивидуального предпринимателя, ООО, общественной организации и любого другого юридического лица, а также зарегистрировать ТЗ с июня 2022 года могут и самозанятые.
                    </div>
                </details>
                <details class="faq__details">
                    <summary class="faq__summary">
                        <span class="faq__question text text--normal text--hight-dark text--w-light">Сколько действует товарный знак?</span>
                    </summary>
                    <div class="faq__answer text text--normal text--gray text--w-light">
                        Срок действия товарного знака 10 лет. По истечении этого срока действие товарного знака можно продлить еще на 10 лет неограниченное число раз при условии оплаты соответствующей пошлины.
                    </div>
                </details>
                <details class="faq__details">
                    <summary class="faq__summary">
                        <span class="faq__question text text--normal text--hight-dark text--w-light">Что может быть зарегистрировано в качестве международного товарного знака?</span>
                    </summary>
                    <div class="faq__answer text text--normal text--gray text--w-light">
                        Основные правила те же, что и для регистрации товарного знака в РФ. Обозначение может быть словесным, графическим, комбинированным, объемным, звуковым.
                    </div>
                </details>
                <details class="faq__details">
                    <summary class="faq__summary">
                        <span class="faq__question text text--normal text--hight-dark text--w-light">На каком языке необходимо оформлять документы для международной регистрации товарного знака?
                        </span>
                    </summary>
                    <div class="faq__answer text text--normal text--gray text--w-light">
                        Заявку можно оформить по выбору — либо на английском, либо на французском языке.
                    </div>
                </details>
            {% elif title == "Патентование" %}
                <details class="faq__details">
                    <summary class="faq__summary">
                        <span class="faq__question text text--normal text--hight-dark text--w-light">Какой объект можно защитить патентом на изобретение?</span>
                    </summary>
                    <div class="faq__answer text text--normal text--gray text--w-light">
                        В качестве изобретений регистрируются объекты техники, относящиеся к устройству, способу или новому применению уже известного продукта.
                    </div>
                </details>
                <details class="faq__details">
                    <summary class="faq__summary">
                        <span class="faq__question text text--normal text--hight-dark text--w-light">Кто может стать владельцем патента на изобретение?</span>
                    </summary>
                    <div class="faq__answer text text--normal text--gray text--w-light">
                        Ограничений нет. Заявка может быть подана от имени физического лица, индивидуального предпринимателя, юридического лица или любой комбинации этих лиц.
                    </div>
                </details>
                <details class="faq__details">
                    <summary class="faq__summary">
                        <span class="faq__question text text--normal text--hight-dark text--w-light">Сколько времени занимает процесс рассмотрения заявки в Роспатенте?</span>
                    </summary>
                    <div class="faq__answer text text--normal text--gray text--w-light">
                        Согласно регламенту, срок рассмотрения заявки на изобретение составляет 34 месяца. На практике эксперты стремятся к сокращению этого срока и в среднем процесс занимает 6–9 месяцев. Были случаи регистрации и за 3-4 месяца без дополнительного ускорения, но это, скорее, исключения из правила.
                    </div>
                </details>
            {% elif title == "Защита авторских прав" %}
                <details class="faq__details">
                    <summary class="faq__summary">
                        <span class="faq__question text text--normal text--hight-dark text--w-light">Сотрудник, работающий по трудовому договору, сохраняет права на свои разработки, которые создал во время трудовой деятельности?</span>
                    </summary>
                    <div class="faq__answer text text--normal text--gray text--w-light">
                        Нет, если другое не предусмотрено отдельным соглашением. Так как сотрудник создал произведения в рамках своих трудовых обязанностей, то имущественные права на них принадлежат работодателю. Если вы привлекаете на какие-либо работы фрилансеров, то распределение прав зависит от условий договора. Поэтому для обеих сторон важно заранее определить свою позицию и зафиксировать ее в документе.
                    </div>
                </details>
                <details class="faq__details">
                    <summary class="faq__summary">
                        <span class="faq__question text text--normal text--hight-dark text--w-light">Допускается ли редактирование чужих произведений? Например, обработка фотографии с помощью нейросети</span>
                    </summary>
                    <div class="faq__answer text text--normal text--gray text--w-light">
                        Любая переработка произведения считается его использованием и возможна только с разрешения правообладателя. Исключительное имущественное право действует в течение всей жизни автора и 70 лет после его смерти. При этом авторство, имя автора и неприкосновенность произведения охраняются бессрочно.
                    </div>
                </details>
                <details class="faq__details">
                    <summary class="faq__summary">
                        <span class="faq__question text text--normal text--hight-dark text--w-light">Какие права возникают у автора произведения?</span>
                    </summary>
                    <div class="faq__answer text text--normal text--gray text--w-light">
                        Изначально автору принадлежат все права на произведение — имущественные и неимущественные. При этом исключительное имущественное право может быть предметом дальнейшего распоряжения. А право авторства и другие личные неимущественные права неотчуждаемы.
                    </div>
                </details>
            {% elif title == "Представление интересов в суде, палате по патентным спорам, СИП" %}
                <details class="faq__details">
                    <summary class="faq__summary">
                        <span class="faq__question text text--normal text--hight-dark text--w-light">В чем заключается представительство в суде?</span>
                    </summary>
                    <div class="faq__answer text text--normal text--gray text--w-light">
                        Для того чтобы уметь правильно защищать свои права в суде, вести дело, необходимо обладать соответствующей квалификацией, знаниями, временем. В этом случае наиболее подходящим вариантом будет воспользоваться услугой представительства в суде. Это услуга, при которой от заинтересованного лица в суде присутствует законный представитель интересов.
                    </div>
                </details>
                <details class="faq__details">
                    <summary class="faq__summary">
                        <span class="faq__question text text--normal text--hight-dark text--w-light">Почему лучше обратиться к специалисту?</span>
                    </summary>
                    <div class="faq__answer text text--normal text--gray text--w-light">
                        Судебное представительство – это серьезный этап работы, который должен быть выполнен профессионалами. Так, опытный юрист сможет грамотно и эффективно представить дело своего клиента в суде в самом лучшем свете, не преступая черту закона. От этого возрастает шанс на удачный исход и принятия судебного решения в пользу клиента.
                    </div>
                </details>
                <details class="faq__details">
                    <summary class="faq__summary">
                        <span class="faq__question text text--normal text--hight-dark text--w-light">В какой суд необходимо обратиться для разрешения того или иного спора?</span>
                    </summary>
                    <div class="faq__answer text text--normal text--gray text--w-light">
                        В зависимости от того, какой именно спор, процесс судебного урегулирования будет проходить либо через арбитражный суд, либо через суд по интеллектуальным правам. В компетенции этих судов находятся вопросы, касающиеся сферы предпринимательства. По вопросам разрешения споров между бизнес-партнерами необходимо обратиться в третейский суд, в случае возбуждения уголовного дела – в суд общей юрисдикции.
                    </div>
                </details>
            {% elif title == "Регистрация программ ЭВМ и IP" %}
                <details class="faq__details">
                    <summary class="faq__summary">
                        <span class="faq__question text text--normal text--hight-dark text--w-light">Обязательна ли регистрация программы?</span>
                    </summary>
                    <div class="faq__answer text text--normal text--gray text--w-light">
                        Обязательного требования к регистрации программы для ЭВМ в Роспатенте нет, однако регистрация является дополнительной мерой ее защиты. Свидетельство о регистрации программы дает определенному лицу исключительное право на интеллектуальную собственность.
                    </div>
                </details>
                <details class="faq__details">
                    <summary class="faq__summary">
                        <span class="faq__question text text--normal text--hight-dark text--w-light">Кто может быть правообладателем программы для ЭВМ?</span>
                    </summary>
                    <div class="faq__answer text text--normal text--gray text--w-light">
                        Правообладателем может быть как физическое, так и юридическое лицо, однако физическому лицу необходимо будет получить статус ИП. Правообладатель будет обладать исключительными правами на программу для ЭВМ, включая распространение, частичное или полное воспроизведение, а также модифицирование программы.
                    </div>
                </details>
                <details class="faq__details">
                    <summary class="faq__summary">
                        <span class="faq__question text text--normal text--hight-dark text--w-light">На какую территорию распространяется защита?</span>
                    </summary>
                    <div class="faq__answer text text--normal text--gray text--w-light">
                        Действие авторского права имеет территориальный принцип. Так, после регистрации программы правовая охрана распространяется не только в России, но и в странах-участниках Бернской конвенции.
                    </div>
                </details>
            {% endif %}
        </div>
    </div>
</section>
<!-- /. FAQ -->