<!-- form-page -->
<section class="form-page block-padding bg--accent-gradient">
    <div class="form-page__body container">
        <h2 class="form-page__heading title title--big title--white title--w-semibold title--uppercase title--indent-secondary">
            Не знаете с чего начать?
        </h2>
        <p class="form-page__descr text text--normal text--white text--w-regular">
            Запишитесь на бесплатную консультацию
        </p>
        <div class="wpcf7">
            <form method="post" class="form-page__form form invalid">
                <div class="form-page__fields">
                    <div class="form-page__field">
                        <input type="text" class="form-page__input" placeholder="Ваше имя">
                        <span class="wpcf7-not-valid-tip" aria-hidden="true">Поле обязательно для заполнения.</span>
                    </div>
                    <div class="form-page__field">
                        <input type="tel" class="form-page__input" placeholder="Ваш телефон">
                        <span class="wpcf7-not-valid-tip" aria-hidden="true">Поле обязательно для заполнения.</span>
                    </div>
                    <div class="form-page__actions">
                        <input type="submit" value="Получить консультация" class="form-page__btn button button--secondary">
                        <span class="wpcf7-spinner"></span>
                    </div>
                </div>
                <div class="wpcf7-response-output" aria-hidden="true">
                    Одно или несколько полей содержат ошибочные данные. Пожалуйста, проверьте их и попробуйте ещё раз.
                </div>
            </form>
        </div>
    </div>
</section>
<!-- /. form-page -->