<!-- form-page -->
<section class="form-page block-padding bg--accent-gradient">
    <div class="form-page__body container">
        <div class="form-page__decor">
            <svg class="form-page__logo-decor" width="337" height="369" viewBox="0 0 337 369" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.000579834 -0.631439H54.5027L91.3716 36.3709L129.844 74.9821L257.859 201.435H129.126C127.893 201.435 126.536 201.435 125.18 201.559C92.0102 203.539 65.7236 233.016 65.1071 266.677C64.4905 302.565 94.8242 332.018 130.584 332.018H333.178L371.65 370.63H131.077C75.095 370.63 28.1148 326.45 26.7584 270.265C26.1418 245.02 34.6501 221.754 49.0771 203.562C67.8199 180.049 96.7972 164.827 129.104 164.827H165.11L0.000579834 -0.631439Z" fill="#CDAD7D"/>
            </svg>
        </div>
        <h2 class="form-page__heading title title--big title--white title--w-semibold title--uppercase title--indent-secondary">
            Не знаете с чего начать?
        </h2>
        <p class="form-page__descr text text--normal text--white text--w-regular">
            Запишитесь на бесплатную консультацию
        </p>
        <div class="wpcf7">
            <form method="post" class="form-page__form form invalid">
                <div class="form-page__fields">
                    <div class="form-page__field">
                        <input type="text" class="form-page__input" placeholder="Ваше имя">
                        <span class="wpcf7-not-valid-tip" aria-hidden="true">Поле обязательно для заполнения.</span>
                    </div>
                    <div class="form-page__field">
                        <input type="tel" class="form-page__input" placeholder="Ваш телефон">
                        <span class="wpcf7-not-valid-tip" aria-hidden="true">Поле обязательно для заполнения.</span>
                    </div>
                    <div class="form-page__actions">
                        <input type="submit" value="Получить консультация" class="form-page__btn button button--secondary">
                        <span class="wpcf7-spinner"></span>
                    </div>
                </div>
                <div class="wpcf7-response-output" aria-hidden="true">
                    Одно или несколько полей содержат ошибочные данные. Пожалуйста, проверьте их и попробуйте ещё раз.
                </div>
            </form>
        </div>
    </div>
</section>
<!-- /. form-page -->