<!-- Popular-services -->
<section class="popular-services block-padding">
    <div class="popular-services__body container">
        <h2 class="popular-services__heading title title--large title--dark title--w-semibold title--uppercase title--indent">
            Популярные услуги
        </h2>
        <div class="popular-services__items">
            <article class="popular-services__item">
                <h3 class="popular-services__title">
                    <a href="#" class="popular-services__link link">
                        Патентование
                    </a>
                </h3>
                <p class="popular-services__excerpt text text--normal text--light-dark text--w-light">
                    Получи монопольное право на использование своей разработки, благодаря приобретению патента. Мы поможем сохранить эксклюзивные права на интеллектуальную собственность.
                </p>
            </article>
            <article class="popular-services__item">
                <h3 class="popular-services__title">
                    <a href="#" class="popular-services__link link">
                        Защита авторских прав
                    </a>
                </h3>
                <p class="popular-services__excerpt text text--normal text--light-dark text--w-light">
                    Получи монопольное право на использование своей разработки, благодаря приобретению патента. Мы поможем сохранить эксклюзивные права на интеллектуальную собственность.
                </p>
            </article>
            <article class="popular-services__item">
                <h3 class="popular-services__title">
                    <a href="#" class="popular-services__link link">
                        Дополнительные услуги
                    </a>
                </h3>
                <p class="popular-services__excerpt text text--normal text--light-dark text--w-light">
                    Получи монопольное право на использование своей разработки, благодаря приобретению патента. Мы поможем сохранить эксклюзивные права на интеллектуальную собственность.
                </p>
            </article>
        </div>
    </div>
</section>
<!-- /. Popular-services -->