<!-- Popular-services -->
<section class="popular-services block-padding">
    <div class="popular-services__body container">
        <div class="popular-services__decor">
            <svg class="popular-services__logo-decor" width="455" height="516" viewBox="0 0 455 516" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M455 515.876H379.568L328.541 464.51L275.295 410.911L98.1188 235.371H276.288C277.995 235.371 279.872 235.371 281.749 235.199C327.657 232.451 364.038 191.532 364.891 144.804C365.745 94.9844 323.762 54.0978 274.271 54.0978H-6.12409L-59.3701 0.498535H273.588C351.068 0.498535 416.089 61.8285 417.967 139.822C418.82 174.868 407.044 207.165 387.077 232.418C361.137 265.059 321.032 286.189 276.319 286.189H226.486L455 515.876Z" fill="#F5F4F4"/>
            </svg>
        </div>
        <h2 class="popular-services__heading title title--large title--dark title--w-semibold title--uppercase title--indent">
            {% if title == "Главная" %}
                Что мы делаем?
            {% else %}
                Популярные услуги
            {% endif %}
        </h2>
        <div class="popular-services__items">
            <article class="popular-services__item">
                <h3 class="popular-services__title">
                    <a href="#" class="popular-services__link link">
                        Регистрация товарных знаков
                    </a>
                </h3>
                <p class="popular-services__excerpt text text--normal text--light-dark text--w-light">
                    Особо важная процедура, для любого предпринимателя. Зарегистрировать товарный знак – значит обезопасить свой бизнес от неожиданных юридических проблем и финансовых потерь.
                </p>
            </article>
            <article class="popular-services__item">
                <h3 class="popular-services__title">
                    <a href="#" class="popular-services__link link">
                        Защита авторских прав
                    </a>
                </h3>
                <p class="popular-services__excerpt text text--normal text--light-dark text--w-light">
                    Комплекс мер, направленный на защиту интеллектуальной собственности. Вы развиваете свой талант, мы обеспечиваем безопасность вашего “творчества”.
                </p>
            </article>
            <article class="popular-services__item">
                <h3 class="popular-services__title">
                    <a href="#" class="popular-services__link link">
                        Регистрация ЭВМ и IP
                    </a>
                </h3>
                <p class="popular-services__excerpt text text--normal text--light-dark text--w-light">
                    Зарегистрировать программы для ЭВМ и базы данных – значит предоставить правовую защиту объектам авторского права. Это дает бизнесу и стартапам монополию на свои разработки. После внесения в реестр ПО Роспатента и получения патента никто не сможет использовать ваши идеи.
                </p>
            </article>
            <article class="popular-services__item">
                <h3 class="popular-services__title">
                    <a href="#" class="popular-services__link link">
                        Представление интересов в суде, палате по патентным спорам, СИП
                    </a>
                </h3>
                <p class="popular-services__excerpt text text--normal text--light-dark text--w-light">
                    Важно не только получить права на интеллектуальную собственность, но и уметь их защитить! Специалисты компании Patent Trademark group отстоят ваши интересы во всех инстанциях, а опыт сотрудников поможет справиться с решением  сложных споров.
                </p>
            </article>
            <article class="popular-services__item">
                <h3 class="popular-services__title">
                    <a href="#" class="popular-services__link link">
                        Патентование
                    </a>
                </h3>
                <p class="popular-services__excerpt text text--normal text--light-dark text--w-light">
                    Получение монопольного права на использование своей разработки, благодаря приобретению патента. Мы помогаем сохранить эксклюзивные права на интеллектуальную собственность.
                </p>
            </article>
            <article class="popular-services__item">
                <h3 class="popular-services__title">
                    <a href="#" class="popular-services__link link">
                        Дополнительные услуги
                    </a>
                </h3>
                <p class="popular-services__excerpt text text--normal text--light-dark text--w-light">
                    Специалисты компании помогут создать с нуля или доработать ваш товарный знак, продлить регистрацию и внести изменения в ТЗ, подготовить претензию или ответ на нее, подготовить документы для внедрения режима коммерческой тайны, подготовить декларации об авторских правах.
                </p>
            </article>
        </div>
    </div>
</section>
<!-- /. Popular-services -->