{% if title == "Регистрация товарных знаков" %}
<!-- Text-block -->
<section class="text-block block-padding">
    <div class="text-block__body container">
        <h2 class="text-block__heading title title--large title--dark title--w-semibold title--uppercase title--indent">
            Виды патентов
        </h2>
        <div class="text-block__content wysiwyg">
            <p>
                Товарный знак является широко распространенным средством, позволяющим привлечь внимание к товару, его производителю или продавцу. Регистрация товарного знака дает возможность сформировать легко узнаваемый бренд и использовать его в целях успешного продвижения на рынке аналогичных товаров, а также позволяет защитить бизнес от недобросовестных участников рынка.
            </p>
            <p>
                Когда компания зарегистрировала товарный знак, нужно внимательно следить, чтобы не было нарушений со стороны конкурентов. Мониторингом может заниматься владелец знака самостоятельно, либо передать эту задачу на аутсорсинг. Специалисты компании Patent Trademark group помогут отследить потенциальных нарушителей и помогут с подачей претензии и взысканием убытков.
            </p>
            </div>
        </div>
    </section>
    <!-- /. Text-block -->
{% endif %}

{% if title== "Патентование" %}
<!-- Text-block -->
<section class="text-block block-padding">
    <div class="text-block__body container">
        <h2 class="text-block__heading title title--large title--dark title--w-semibold title--uppercase title--indent">
            Виды патентов
        </h2>
        <div class="text-block__content wysiwyg">
            <p>
                <b>На территории Российской Федерации действуют 3 вида патентов:</b>
            </p>
            <ol>
                <li>Патент на изобретение;</li>
                <li>Патент на полезную модель;</li>
                <li>Проведение формальной экспертизы;</li>
                <li>Патент на промышленный образец.</li>
            </ol>
        </div>
    </div>
</section>
<!-- /. Text-block -->

<!-- Text-block -->
<section class="text-block block-padding">
    <div class="text-block__body container">
        <h2 class="text-block__heading title title--large title--dark title--w-semibold title--uppercase title--indent">
            Патентный поиск
        </h2>
        <div class="text-block__content wysiwyg">
            <p>
                Патентный поиск - определения патентоспособности исследуемого объекта. Это важный этап перед регистрацией.  Для этого необходимо предоставить информацию по предмету поиска (объект исследования, его составные части) для проведения патентных исследований и оформления отчета по их результатам (отчет ГОСТ Р 15.011). Также необходима информация: назначение, область применения и краткое описание объекта исследования; характеристика новизны разрабатываемого объекта, анализ новизны создаваемых технологических решений.
                В качестве изобретения охраняется техническое решение в любой области, относящейся к продукту ( в частности, устройству, веществу, штамму микроорганизма, культуре клеток растений и животных) или способу ( процессу осуществления действий над материальным объектом с помощью материальных средств).
                Изобретению предоставляется правовая охрана, если оно является новым, имеет изобретательский уровень и промышленно применимо.
                В качестве полезной модели охраняется техническое решение, относящееся к устройству.
                Полезной модели предоставляется правовая охрана, если она является новой и промышленно применимой.
            </p>
        </div>
    </div>
</section>
<!-- /. Text-block -->

<!-- Text-block -->
<section class="text-block block-padding">
    <div class="text-block__body container">
        <h2 class="text-block__heading title title--large title--dark title--w-semibold title--uppercase title--indent">
            Необходимые документы
        </h2>
        <div class="text-block__content wysiwyg">
            <p>
                В качестве промышленного образца охраняется художественно-конструкторское решение изделия промышленного или кустарно-ремесленного производства, определяющее его внешний вид. Промышленному образцу предоставляется правовая охрана, если по своим существенным признакам он является новым и оригинальным. К существенным признакам промышленного образца относятся признаки, определяющие эстетические и (или) эргономические особенности внешнего вида изделия, в частности форма, конфигурация, орнамент и сочетание цветов.
            </p>
        </div>
    </div>
</section>
<!-- /. Text-block -->
{% endif %}

{% if title== "Защита авторских прав" %}
<!-- Text-block -->
<section class="text-block block-padding">
    <div class="text-block__body container">
        <h2 class="text-block__heading title title--large title--dark title--w-semibold title--uppercase title--indent">
            Виды авторских прав
        </h2>
        <div class="text-block__content wysiwyg">
            <p>
                В России не предусмотрена обязательная процедура регистрации авторского права, поэтому многие не считают нужным оформлять его документально. Хотя в нашей стране существуют все необходимые механизмы. 
            </p>
            <p>
                Депонирование и учет объектов авторского права – процедура добровольной регистрации экземпляра произведения в специальном реестре с выдачей свидетельства и хранением данного экземпляра для подтверждения даты депонирования в случае возникновения судебных споров. Ряд объектов, таких как программы для ЭВМ и баз данных, топологии интегральных микросхем, можно добровольно зарегистрировать в Роспатенте. 
            </p>
            <p>
                <b>
                    Авторское право – одна из самых сложных сфер юриспруденции, поэтому важно обращаться к узкоспециализированным юристам, имеющим соответствующий практический опыт.
                </b>
            </p>
            <ol>
                <li>Неимущественное право (бессрочное и неотчуждаемое);</li>
                <li>Исключительное право на произведение (действует в течение всей жизни автора и 70 лет после);</li>
                <li>Иные авторские права.</li>
            </ol>
        </div>
    </div>
</section>
<!-- /. Text-block -->
{% endif %}

{% if title== "Представление интересов в суде, палате по патентным спорам, СИП" %}
<!-- Text-block -->
<section class="text-block block-padding">
    <div class="text-block__body container">
        <div class="text-block__content wysiwyg">
            <p>
                Получение патентов и свидетельств далеко не последний этап при защите исключительных прав на интеллектуальную собственность. Если вы столкнулись с плагиатом или же сами получили претензию о нарушении прав третьих лиц, то помощь грамотного юриста точно необходима. Высококвалифицированные специалисты компании Patent Trademark group, используя свои знания, опыт работы в судах и подразделениях Роспатента, добиваются высокой эффективности в защите интеллектуальных прав. 
            </p>
        </div>
    </div>
</section>
<!-- /. Text-block -->
{% endif %}

{% if title== "Регистрация программ ЭВМ и IP" %}
<!-- Text-block -->
<section class="text-block block-padding">
    <div class="text-block__body container">
        <div class="text-block__content wysiwyg">
            <p>
                Гражданский кодекс Российской Федерации предусматривает возможность государственной регистрации программы для ЭВМ по желанию правообладателя. Исключительное право на программу может принадлежать как автору, так и иным гражданам и юридическим лицам. Обладатель исключительного права может использовать программу для ЭВМ любым не противоречащим законодательству способом, может распоряжаться программой по своему усмотрению, а также запрещать использование программы другим лицам, причем отсутствие запрета не является разрешением. Срок регистрации программы ЭВМ – 2 месяца с момента подачи документов на регистрацию. Авторское право действует в течение всей жизни автора и в последующие 70 лет после его смерти. 
            </p>
        </div>
    </div>
</section>
<!-- /. Text-block -->
{% endif %}