<!-- Text-block -->
<section class="text-block block-padding">
    <div class="text-block__body container">
        {% if title == "Регистрация товарных знаков" %}
        {% else %}
            <h2 class="text-block__heading title title--large title--dark title--w-semibold title--indent">
                Заголовок блока
            </h2>
        {% endif %}
        <div class="text-block__content wysiwyg">
            {% if title == "Регистрация товарных знаков" %}
                <p>
                    Товарный знак является широко распространенным средством, позволяющим привлечь внимание к товару, его производителю или продавцу. Регистрация товарного знака дает возможность сформировать легко узнаваемый бренд и использовать его в целях успешного продвижения на рынке аналогичных товаров, а также позволяет защитить бизнес от недобросовестных участников рынка.
                </p>
                <p>
                    Когда компания зарегистрировала товарный знак, нужно внимательно следить, чтобы не было нарушений со стороны конкурентов. Мониторингом может заниматься владелец знака самостоятельно, либо передать эту задачу на аутсорсинг. Специалисты компании Patent Trademark group помогут отследить потенциальных нарушителей и помогут с подачей претензии и взысканием убытков.
                </p>
            {% endif %}
        </div>
    </div>
</section>
<!-- /. Text-block -->