.footer {
    position: relative;
    background: var(--color-dark);
    padding: 50px 0;
}

.footer::before {
    content: '';
    position: absolute;
    background: url('../img/footer-bg.png') no-repeat center;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    user-select: none;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobileXS-block {
        align-items: flex-start;
        flex-direction: column;
    }
}

.footer__search-form {
    @include mobileXS(margin-top, 45px);
}

.footer__columns {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    grid-gap: 50px;
    @include mobileXS-block {
        grid-template-columns: 1fr;
        grid-gap: 45px;
        margin-top: 45px;
    }
}

.footer__bottom-line {
    position: relative;
    margin-top: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include mobile-block {
        justify-content: space-between;
        text-align: left;
    }
    @include mobileXS-block {
        flex-direction: column;
        margin-top: 45px;
    }
}

.footer__copy {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    @include mobile-block {
        position: relative;
        transform: translateX(0);
        left: auto;
    }
    @include mobileXS-block {
        order: 1;
        margin-top: 45px;
    }
}

.footer__devsite {
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: right;
    @include mobileXS-block {
        text-align: left;
        margin-right: auto;
    }
}

.footer__devsite-text {
    margin-right: 15px;
    @include mobileXS-block {
        order: 1;
        margin-right: 0;
        margin-left: 15px;
    }
}