.stages__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, .33fr));
    grid-gap: 20px;
    @include mobile-block {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
}

.stages__row.stages__row--one .stages__item {
    background: #FAFAFA;
}

.stages__row.stages__row--two .stages__item {
    background: #F5F4F4;
}

.stages__row.stages__row--competencies .stages__item:first-child {
    background: #FAFAFA;
}

.stages__row.stages__row--competencies .stages__item:nth-child(2) {
    background: #F5F4F4;
}

.stages__row.stages__row--competencies .stages__item:last-child {
    background: #F0F0F0;
}

.stages__item {
    padding: 15px 25px 25px;
}

.stages__num,
.stages__days {
    display: inline-block;
}

.stages__days {
    margin-left: 15px;
}

.stages__title {
    margin-top: 22px;
}
