.pagination {
    margin-top: 25px;
}

.pagination__inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination .page-numbers {
    padding: 15px 30px;
    color: var(--color-accent);
    background: var(--color-white);
    text-decoration: none;
    box-shadow: 5px 5px 15px rgba(119, 97, 63, 0.25);
    border-radius: 1px;
    transition: color .150s ease-in-out, background .150s ease-in-out;
    @include mobileXS-block {
        padding: 10px 20px;
    }
}

.pagination .page-numbers:hover {
    color: var(--color-white);
    background: var(--color-accent);
}

.pagination .page-numbers ~ .page-numbers {
    margin-left: 15px;
    @include mobileXS-block {
        margin-left: 10px;
    }
}

.pagination .page-numbers.current {
    color: var(--color-white);
    background: var(--color-accent);
}