.experts__items {
    margin-top: 45px;
}

.experts__item {
    display: grid;
    grid-template-columns: minmax(250px, 275px) minmax(300px, 1fr);
    grid-gap: 20px;
    max-width: 963px;
    @include mobile-block {
        grid-template-columns: 1fr;
    }
}

.experts__item ~ .experts__item {
    margin-top: 45px;
}

.experts__photo {
    overflow: hidden;
    border-radius: 1px;
    max-height: 275px;
    @include mobile(max-width, 275px);
}

.experts__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.experts__info {
    margin-top: 25px;
}