.burger-menu {
    width: 30px;
    height: 20px;
    cursor: pointer;
    display: none;
    align-items: center;
    @include mobile-block {
        display: flex;
    }
}

.burger-menu__line {
    display: block;
    position: relative;
    width: 30px;
    height: 2px;
    background-color: var(--color-white);
}

.burger-menu__line,
.burger-menu__line::before,
.burger-menu__line::after {
    border-radius: 50px;
    transition: transform .2s ease-in-out, top .2s ease-in-out, background-color .1s ease-in-out;
}

.burger-menu__line::before,
.burger-menu__line::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: var(--color-white);
}

.burger-menu__line::before {
    bottom: 0;
    left: 0;
    top: 10px;
}

.burger-menu__line::after {
    top: 0;
    left: 0;
    top: -10px;
}

.burger-menu.is-open .burger-menu__line {
    background-color: transparent;
}

.burger-menu.is-open .burger-menu__line::before {
    top: 0;
    animation: rotate-burger-before .2s linear .2s forwards;
}

.burger-menu.is-open .burger-menu__line::after {
    top: 0;
    animation: rotate-burger-after .2s linear .2s forwards;
}